    <ul class="nav nav-tabs">
        <li data-bind="css: { active: route().tab === 'start' }"><a href="#home/start" class="glyphlogo">
            <span class="glyphicon glyphicon-comment"></span><span class="glyphicon glyphicon-comment"></span>
            Din sida
        </a></li>
        <li data-bind="css: { active: route().page === 'home-page/signbox' }">
            <a href="#"><span class="glyphicon glyphicon-inbox"></span> Signeringskorg</a>
        </li>
        <li data-bind="css: { active: route().tab === 'settings' }">
            <a href="#home/settings"><span class="glyphicon glyphicon-cog"></span> Inställningar</a>
        </li>
    </ul>